<aw-wizard>
  <aw-wizard-step stepTitle="Title of step 1">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><span class="badge bg-primary">Paso 1</span></h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-primary" type="button" awNextStep>
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 2">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <span class="badge bg-primary"><span class="badge bg-primary">Paso 2</span></span></h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-danger" type="button" awPreviousStep>
            Previo
          </button>

          <button class="btn btn-primary" type="button" awNextStep>
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 3">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Fin del Wizzard</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-danger" type="button" awPreviousStep>
            Atras
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="finishFunction()"
          >
            Finish
          </button>
        </div>
      </div>
    </div>
  </aw-wizard-step>
</aw-wizard>
